configstore/
github-copilot/
iterm2/
raycast/
simple-update-notifier/
zed/
stripe
herd-lite
.DS_Store
cmux/
gh/hosts.yml
codesandbox/bin/
soloterm/
opencode/package-lock.json
opencode/plugins/git-ai.ts
